<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-transactions-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->
<head>
    <meta charset="utf-8">
    <title>BOOKWORM ADMIN</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/admin-assets\imgs\theme\bookWorm.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class=" ">
                    <a class="menu-link" href=""> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="">
                    <a class="menu-link" href="adminproduct"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                  
                </li>
                <li class="">
                    <a class="menu-link" href="adminCategory"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Catagory</span>
                    </a>
                    
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="orderList"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>                   
                </li>
               
                <li class="">
                    <a class="menu-link" href="adminUser"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>                   
                </li>
                <li class="">
                    <a class="menu-link" href="allCoupon"> <i
                                class="icon material-icons md-shopping_cart"></i>
                          <span class="text">Coupon</span>
                    </a>
                </li>
                    <li class="">
                        <a class="menu-link" href="salesReport"> <i
                                    class="icon material-icons md-shopping_cart"></i>
                              <span class="text">Sales</span>
                        </a>
                    </li>              
            </ul>
            <hr>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/admin-assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/admin-assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="content-header">
                            <h2 class="content-title">Edit Product</h2>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Basic</h4>
                            </div>
                            <div class="card-body ">
                              <form method="post"  enctype="multipart/form-data" id="pdtform">
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product title</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="product_name"
                                        name="pname" value="<%= productDetails.name %>" onblur="nameFun()">
                                        <p id="nameErr" class="text-danger" ></p>
                                       
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Full description</label>
                                        <textarea placeholder="Type here" class="form-control" rows="4" id="product_des"
                                        name="product_des"  onblur="desFun()"><%= productDetails.discription %></textarea >
                                        <p id="desErr" class="text-danger" ></p>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Regular Price</label>
                                                <div class="row gx-2">
                                                    <input placeholder="$" type="number" class="form-control" id="regprice"
                                                     name="regprice" onblur="regFun() " value="<%= productDetails.regularPrice %>" >
                                                     <p id="regErr" class="text-danger"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Offer Price</label>
                                                <input placeholder="$" type="number" class="form-control" id="offprice"
                                                name="offprice" onblur=" offFun()" value="<%= productDetails.offerPrice %>">
                                                <p id="offErr" class="text-danger"></p>
                                            </div>
                                        </div>
                                       
                                        <div class="col-lg-4">
                                            <label class="form-label" name="catName">Category</label>
                                          
                                            <select class="form-select" name="catName">
                                                
                                              
                                                    
                                                <% category.forEach(element =>{%>
                                                
                                                    
                                                    <option <%= element.name === productDetails.category.name ? 'selected': '' %>> <%= element.name %></option>
                                                     <%})%>
                                                   
                                            </select>
                                        </div>
                                    </div>
                              
                            </div>
                        </div>
                        
                    </div><div class="col-lg-3"style="margin-top: 74px;" >
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Media</h4>
                            </div>
                            <div class="card-body">
                               <% for( let i = 0; i < productDetails.image.length; i++ ) { %>
                               
                            
                                    <div class="input-upload">
                                        
                                        <img src="/uploads/<%=productDetails.image[i]  %>" alt="">
                                        <span id="delete"  onclick="deleteImage('<%=productDetails._id %>','<%= i %>')">Delete</span>
                                        
                                    </div>
                                    <% } %>
                                   
                                <input name="image" id="" class="form-control" type="file" accept="image/*" multiple>
                            </div>
                        </div> 
                        <div class="d-grid">
                            
                        </div>
                    </div>

                    <div class="col-lg-5" style="margin-top: 74px;">
                        <div class="row">
                            <div class="col-lg-12">
                               
                            </div>
                            <div class="col-lg-12">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h4>Inventory</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row gx-2">
                                           
                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">Stock</label>
                                                <input type="number" class="form-control" id="stock"
                                                name="stock" onblur=" stockFun()" value="<%= productDetails.stock %>" >
                                                <p  id="stockErr" class="text-danger"></p>
                                            </div>
                                        </div> <!-- row.// -->
                                    </div>
                                </div> <!-- card end// -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-left:270px;">
                  <button class="btn btn-light rounded font-sm mr-5 text-body hover-up" type="submit">Update</button>
                  <!-- <button class="btn btn-md rounded font-sm hover-up" id="delete">Delete</button> -->
              </div>
              
            </form>
        </section> 
        <!-- <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer> -->
    </main>
    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
<script>


function previewImages() {
      const input = document.getElementById('Pro_img');
      const previewContainer = document.getElementById('imagePreviewContainer');
      const files = input.files;

      // Clear previous previews
      previewContainer.innerHTML = '';

      for (const file of files) {
          const reader = new FileReader();

          reader.onload = function (e) {
              const preview = document.createElement('img');
              preview.src = e.target.result;
              preview.classList.add('image-preview');
              previewContainer.appendChild(preview);
          };

          reader.readAsDataURL(file);
      }
  }
      
</script> 
<script>
    function deleteImage(id,index){
        alert("its here")
        $.ajax({
          url:"/admin/deleteimage",
          method:"post",
          data:{
                id,
                index
          },
          success:(response)=>{
        
         if(response.status === "delete"){
          window.location.reload()
         }
          }
        })
    }
</script>
<script>

      function nameFun() {
       
            const name = document.getElementById("product_name").value.trim();
            nameRegex = /^[a-zA-Z]{3,}$/;
            const nameError = document.getElementById("nameErr");

            if (name == "") {
                  nameError.innerHTML = "Product name is required"
            } else if (!nameRegex.test(name)) {
                  nameError.innerHTML = "Invalid Name, no spaces at the beginnig"
            } else {
                  nameError.innerHTML = "";
            }

      }

      function desFun() {
           
            const des = document.getElementById("product_des").value.trim();
            const desError = document.getElementById("desErr");

            if (des == "") {
                  desError.innerHTML = " Product description is required"
            } else {
                  desError.innerHTML = ""
            }
      }

      function regFun() {
        
            const reg = document.getElementById("regprice").value.trim();
            const regError = document.getElementById("regErr");


            const positiveNumberRegex = /^[0-9]*$/;

            if (reg === "" || !positiveNumberRegex.test(reg)) {
                  regError.innerHTML = "Invalid Price. Please enter a positive number.";
            } else {
                  regError.innerHTML = "";
            }
      }

      function offFun() {
         
            const op = document.getElementById("offprice").value.trim();
            const rp = document.getElementById("regprice").value.trim();
            const offError = document.getElementById("offErr");


            const positiveNumberRegex = /^[0-9]*$/;


            if (op === '' || !positiveNumberRegex.test(op)) {
                  offError.innerHTML = "Invalid Price. Please enter a positive number.";
            } else if (parseFloat(op) > parseFloat(rp)) {
                  offError.innerHTML = "Offer Price cannot exceed regular price.";
            } else {
                  offError.innerHTML = "";
            }
      }

      function stockFun() {
           
            const stock = document.getElementById("stock").value.trim();
            
            const stockError = document.getElementById("stockErr");

            if (stock == "") {
            
                  stockError.innerHTML = "Provide a valid stock"
            } else {
                  stockError.innerHTML = ""
            }

      }


   







      function validateImages() {
            const fileInput = document.getElementById('Pro_img');
            const imageError = document.getElementById('imageError');
            const allowedExtensions = ['jpg', 'jpeg', 'png'];

            if(fileInput.length!=5){
                  document.getElementById("imageError").innerHTML="Image is require"
            }else{
                  document.getElementById("imageError").innerHTML=""
            }

            for (const file of fileInput.files) {
                  const fileExtension = file.name.split('.').pop().toLowerCase();
                  if (!allowedExtensions.includes(fileExtension)) {
                        imageError.textContent = 'Invalid file format. Please upload JPEG or PNG files.';
                        return false;
                  }
            }
      }


      function previewImages() {
           
            const input = document.getElementById('Pro_img');
            const previewContainer = document.getElementById('imagePreviewContainer');
            const files = input.files;

            // Clear previous previews
            previewContainer.innerHTML = '';

            for (const file of files) {
                  const reader = new FileReader();

                  reader.onload = function (e) {
                        const preview = document.createElement('img');
                        preview.src = e.target.result;
                        preview.classList.add('image-preview');
                        previewContainer.appendChild(preview);
                  };

                  reader.readAsDataURL(file);
            }
      }



      document.getElementById("pdtform").addEventListener("submit",(e)=>{

            stockFun()
            nameFun()
            desFun()
            regFun()
            offFun()
            validateImages()
         
             const nameErr=document.getElementById("nameErr")           
            const deErr=document.getElementById("desErr")
            const regErr=document.getElementById("regErr")
            const offErr=document.getElementById("offErr")
            const stockErr=document.getElementById("stockErr")
            const imageErr=document.getElementById("imageError")
         

            if(nameErr.innerHTML||desErr.innerHTML||regErr.innerHTML||offErr.innerHTML||stockErr.innerHTML||imageErr.innerHTML){
                 
                  e.preventDefault()
            }

      })


    </script>
      



<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-transactions-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->
</html>